.game-container,
.ended-container {
  margin-top: 40px;
}

h1 {
  font-size: 72px;
  font-weight: bold;
  text-align: center;
}
.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
  color: white;
  height: 50vh;
}
.ended-container {
  text-align: center;
  p {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 48px;
  }
}
