<!-- <h2>{{playerATurn}}</h2> -->
<h1>
    KALAH
</h1>

<div *ngIf="gameInitialized && winner==''" class="game-container">

    <app-board [winner]="winner" [playerAAmount]="currentGame.playerAAmount" [playerASeeds]="currentGame.playerASeeds"
        [playerBAmount]="currentGame.playerBAmount" [playerBSeeds]="currentGame.playerBSeeds"
        [playerATurn]="playerATurn" (moveEnded)="onMoveEnded($event)"
        (notificationEmitted)="onNotificationEmitted($event)">

    </app-board>
</div>




<div *ngIf="!gameInitialized" class="welcome-container">
    <h1>

        {{joined? 'Waiting for another player': ' Welcome to Kalah Game'}}
    </h1>


    <button [hidden]="joined" (click)="joinGame()">
        {{currentGame? 'Join Existing Game': 'Create new Game'}}

    </button>

</div>


<div *ngIf="winner!=''" class="ended-container">
    <h2>GAME ENDED</h2>
    <p>
        The winner is
        <i class=" player">
            {{winner}}

        </i>
    </p>


    <button (click)="joinGame()">
        {{currentGame ? 'Join Existing Game': 'Create new Game'}}
    </button>
</div>

<simple-notifications [options]="notifOptions"></simple-notifications>