<ng-container *ngIf="winner==''">
    <p class="turn">
        Current Turn: {{playerATurn? "Player": "Opponent"}}

    </p>


    <div class="board-container">

        <app-pit [amount]="playerBAmount" [endZone]="true"></app-pit>
        <div class="pits">
            <div class="opp-pits">
                <ng-container *ngFor="let pit of [1,2,3,4,5,6]; let i=index;">
                    <app-pit (pitSelected)="onPitSelected($event, i, false)" [amount]="playerBSeeds[i]"
                        [disabled]="true">
                    </app-pit>
                </ng-container>
            </div>

            <div class="player-pits">
                <ng-container *ngFor="let pit of [1,2,3,4,5,6]; let i=index;">
                    <app-pit (pitSelected)="onPitSelected($event, i, true)" [amount]="playerASeeds[i]"
                        [disabled]="!playerATurn"></app-pit>
                </ng-container>
            </div>
        </div>

        <app-pit [amount]="playerAAmount" [endZone]="true"></app-pit>
    </div>
</ng-container>


<button (click)="win()">WIN</button>


<simple-notifications [options]="notifOptions"></simple-notifications>