<div class="board-container">
    <p>
        Current Turn
        <span>
            <i>
                {{playerTurn? "Player": "Opponent"}}

            </i>
        </span>
    </p>
    <app-pit [amount]="oppAmount" [endZone]="true"></app-pit>
    <div class="pits">
        <div class="opp-pits">
            <ng-container *ngFor="let pit of [1,2,3,4,5,6]; let i=index;">
                {{i}}
                <app-pit (pitSelected)="onPitSelected($event, i, false)" [amount]="oppSeeds[i]" [disabled]="playerTurn">
                </app-pit>
            </ng-container>
        </div>

        <div class="player-pits">
            <ng-container *ngFor="let pit of [1,2,3,4,5,6]; let i=index;">
                {{i}}

                <app-pit (pitSelected)="onPitSelected($event, i, true)" [amount]="playerSeeds[i]"
                    [disabled]="!playerTurn"></app-pit>
            </ng-container>
        </div>
    </div>

    <app-pit [amount]="playerAmount" [endZone]="true"></app-pit>
</div>