.board-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: url("../../assets/wood.png");
  border: 12px solid white;
  border-radius: 25px;
  margin: 20px;
  min-width: 50%;
  max-width: 90%;
  margin: auto;
}

.end-zone {
  margin: 10px 50px;
  border-radius: 50%;
  border: 1px solid black;
  height: 200px;
  width: 120px;
}
.opp-pits,
.player-pits {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  border: 1px solid white;
}

.turn {
  text-align: center;
  font-size: 1.8rem;
}

::ng-deep .notification {
  padding: 15px 20px !important;
  border-radius: 5px;
}

@media (max-width: 1024px) {
  .opp-pits,
  .player-pits {
    margin: 10px;
  }

  .board-container{
    max-width: 98%;
  }
}
