.pit-container {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  background-color: inherit;
  margin: 5px;
  border: 4px solid white;
  position: relative;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;

  .seed:nth-child(even) {
    background: radial-gradient(circle at 5px 5px, #f6410a, #000);
  }
  .seed:nth-child(3n+0) {
    background: radial-gradient(circle at 5px 5px, #ef03df, #000);
  }
}

.pit-container.end-zone {
  height: 300px;
  width: 220px;
  margin: 40px;
  padding: 30px;
  cursor: auto;
}
.disabled {
  pointer-events: none;
}
.badge {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid cornflowerblue;
  background-color: cornflowerblue;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -5px;
  left: 0px;
  padding: 12px;
}
.seed {
  height: 20px;
  width: 20px;
  display: block;
  background: black;
  border-radius: 100%;
  margin: 0;
  background: radial-gradient(circle at 5px 5px, #5cabff, #000);
}
@media (max-width: 1024px) {
  .pit-container {
    height: 80px;
    width: 80px;
  }
  .pit-container.end-zone {
    height: 180px;
    width: 100px;
    margin: 0;
    padding: 5px;
    cursor: auto;
  }

  .seed {
    height: 5px;
    width: 5px;
  }
  .badge {
    font-size: 13px;
  }
}
